/*Products Details*/
.col-cont {
    margin-top: 50px;
    margin-bottom: 50px;
}

.contentTotals{
    background-color: #fff;
    border-color: #eee;
    border-image: none;
    border-style: solid solid solid;
    border-width: 1px;
    min-height: 200px;
    padding: 15px;
}

.contentTotals .contentOtTotals {
    width: 100%;
}

.contentOtTotals {
    text-transform: uppercase;
    font-size: 14px;
}

table, p {
    font-size: inherit;
    line-height: 1.5;
}

table {
    max-width: 100%;
    background-color: transparent;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td, th {
    padding: 0;
}

.textOrder {
    font-weight: bold;
    font-size: 18px;
}

.order-total-out {
    font-weight: bold;
    font-size: 30px !important;
    color: #5A5A5A;
    margin-bottom: 30px;
    background-color: #fff;
    border-color: #eee;
    border-image: none;
    border-style: solid solid solid;
    border-width: 1px;
    padding: 14px 29px;
}

.contentTotals .buttonAction {
    margin-top: 20px;
}

.section_page .action-shopping-cart .btn {
    background-color: #0e8ce4;
}

.section_page .action-shopping-cart .btn:hover{
    background: #999999;
    color: #fff;
}

.section_page .btn {
    margin-top: 25px;
    background-color: #0071c9;
    border-radius: 3px;
    border-width: 0 0 2px;
    height: unset;
    padding: 10px;
    width: 100%;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    color: white;
}


.title_section_summary{
    background-color: #fff;
    border-color: #eee;
    border-image: none;
    border-style: solid solid solid;
    border-width: 1px;
    padding: 14px 29px;
}


.contentProductShopping{
    background-color: #fff;
    border-color: #eee;
    border-image: none;
    border-style: solid solid solid;
    border-width: 1px;
    min-height: 200px;
    padding: 15px;
}


.section_page .title_section_summary {
    font-size: 15px;
    color: #5A5A5A;
    font-weight: bold;
}


.row:before{
        content: " ";
    display: table;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.row:after{
    clear: both;
    content: " ";
    display: table;
}

.contentImageShopping {
    padding: 3px;
    background-color: #fff;
    width: 100%;
    border: 1px solid #F0F0F0;
    display: flex;
    vertical-align: middle;
}
.contentImageShoppingImgs {
    padding: 3px;
    background-color: #fff;
    width: 70%;
    border: 1px solid #F0F0F0;
    display: flex;
    vertical-align: middle;
    margin: 3px;
}

.contentImageShoppingImgs img {
    width: 100%;
    height: 100%;
}
.contentImageShopping img {
    width: 100%;
    height: 100%;
}

.contenido-centrado{
    display: flex;
   justify-content: center;
   align-items: center;
}
.contenido-centrado-imgs{
    display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.contentImageDescription{
    padding-left: 10px;
    font-size: 15px;
}


.carousel-icon{
    font-size: 45px !important;
    color: #000;
}

.padding-col {
    border-bottom: 1px solid #CDCDCD;
}

.modal-col {
    font-size: 14px;
}
.modal-container {
    margin: 0;
    padding: 0;
}

.modal-detail-display {
    display: flex !important;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

@media (min-width: 768px){
.modal-detail-display {
    height: 80px;
}
.modal-detail-display .theme-icon {
    padding-left: 4px;
}

.modal-detail-display .theme-icon .container-icon {
    height: 42px;
    width: 42px;
    background-color: #fff;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
}
}
@media (min-width: 768px){
.modal-detail-display .theme-icon .container-icon {
    background-color: #eee;
    height: 42px;
    width: 42px;
}
}
@media (min-width: 768px){
.modal-detail-display .theme-icon .container-icon i {
    font-size: 22px;
}
.modal-detail-display .theme-icon .container-icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #424143;
    font-size: 22px;
}


.modal-detail-display .theme-text {
    text-align: left;
    width: 75%;
}

.modal-detail-display .theme-text .title {
    font-weight: bold;
}

.modal-detail-display .access-icon {
    padding-right: 10px;
}

.modal-detail-display .theme-icon .container-icon {
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    background-color: #eee;
}
}