<<<<<<< HEAD
/*Products Details*/
.col-cont {
    margin-top: 50px;
    margin-bottom: 50px;
}

.contentTotals{
=======
@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

* {
    box-sizing: border-box;
}

body {
    margin:0 auto;
}

body, html {
    height: 100%;
    font-family: Poppins-Regular, sans-serif;
}

.col-cont {
    margin-top: 15px;
    margin-bottom: 15px;
}


.contentTotals{
    /*flex-direction: column;
    border-radius: 2px;    
    border: 1px solid #ddd;
    box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);
    margin: 0px;*/
>>>>>>> 193c1a8766cecd9bfa7dde989593c4a5e7eed6a8
    background-color: #fff;
    border-color: #eee;
    border-image: none;
    border-style: solid solid solid;
    border-width: 1px;
    min-height: 200px;
    padding: 15px;
}

<<<<<<< HEAD
=======
.section_page {
    font-family: 'Poppins-Regular';
    margin-bottom: 40px;
}

>>>>>>> 193c1a8766cecd9bfa7dde989593c4a5e7eed6a8
.contentTotals .contentOtTotals {
    width: 100%;
}

.contentOtTotals {
    text-transform: uppercase;
    font-size: 14px;
}

table, p {
    font-size: inherit;
    line-height: 1.5;
}

table {
    max-width: 100%;
    background-color: transparent;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td, th {
    padding: 0;
}

.textOrder {
    font-weight: bold;
    font-size: 18px;
}

.order-total-out {
    font-weight: bold;
    font-size: 30px !important;
    color: #5A5A5A;
    margin-bottom: 30px;
    background-color: #fff;
    border-color: #eee;
    border-image: none;
    border-style: solid solid solid;
    border-width: 1px;
    padding: 14px 29px;
}

<<<<<<< HEAD
=======
b, strong {
    font-weight: bold;
}

>>>>>>> 193c1a8766cecd9bfa7dde989593c4a5e7eed6a8
.contentTotals .buttonAction {
    margin-top: 20px;
}

<<<<<<< HEAD
.section_page .action-shopping-cart .btn {
    background-color: #0e8ce4;
}

.section_page .action-shopping-cart .btn:hover{
    background: #999999;
=======
A {
    color: inherit;
    text-decoration: none;
}

a {
    outline: none;
}

a {
    background: transparent;
}

.section_page .action-shopping-cart .btn {
    background-color: #0062cc;
}

.section_page .action-shopping-cart .btn:hover{
    background: #333333;
>>>>>>> 193c1a8766cecd9bfa7dde989593c4a5e7eed6a8
    color: #fff;
}

.section_page .btn {
    margin-top: 25px;
    background-color: #0071c9;
    border-radius: 3px;
    border-width: 0 0 2px;
    height: unset;
    padding: 10px;
    width: 100%;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
<<<<<<< HEAD
    color: white;
}

=======
}

.btn{
    color: #FFFFFF;
}

.section_page {
    font-family: 'Poppins-Regular';
    margin-bottom: 40px;
}

.contentTotals .contentOtTotals .separatorTotals {
    margin: 20px 0 10px 0;
}

hr {
    margin-top: 21px;
    margin-bottom: 21px;
    border: 0;
    border-top: 1px solid #eee;
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

/*//////////////////////////////////////////*/
>>>>>>> 193c1a8766cecd9bfa7dde989593c4a5e7eed6a8

.title_section_summary{
    background-color: #fff;
    border-color: #eee;
    border-image: none;
    border-style: solid solid solid;
    border-width: 1px;
    padding: 14px 29px;
}


.contentProductShopping{
    background-color: #fff;
    border-color: #eee;
    border-image: none;
    border-style: solid solid solid;
    border-width: 1px;
    min-height: 200px;
    padding: 15px;
}

<<<<<<< HEAD
=======
FORM {
    display: inline;
}
>>>>>>> 193c1a8766cecd9bfa7dde989593c4a5e7eed6a8

.section_page .title_section_summary {
    font-size: 15px;
    color: #5A5A5A;
    font-weight: bold;
}

<<<<<<< HEAD
=======
.text-left {
    text-align: left;
}

.section_page .row {
    margin-right: -10px;
    margin-left: -10px;
}
>>>>>>> 193c1a8766cecd9bfa7dde989593c4a5e7eed6a8

.row:before{
        content: " ";
    display: table;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.row:after{
    clear: both;
    content: " ";
    display: table;
}

<<<<<<< HEAD
=======
.section_page .row {
    margin-right: -10px;
    margin-left: -10px;
}

>>>>>>> 193c1a8766cecd9bfa7dde989593c4a5e7eed6a8
.contentImageShopping {
    padding: 3px;
    background-color: #fff;
    width: 100%;
    border: 1px solid #F0F0F0;
    display: flex;
    vertical-align: middle;
}
.contentImageShoppingImgs {
    padding: 3px;
    background-color: #fff;
    width: 70%;
    border: 1px solid #F0F0F0;
    display: flex;
    vertical-align: middle;
    margin: 3px;
}
<<<<<<< HEAD

=======
/*
.colProducto{
    padding-top: 15px;
    padding-bottom: 15px;
}*/
>>>>>>> 193c1a8766cecd9bfa7dde989593c4a5e7eed6a8
.contentImageShoppingImgs img {
    width: 100%;
    height: 100%;
}
.contentImageShopping img {
    width: 100%;
    height: 100%;
}
<<<<<<< HEAD
=======
img {
    border: 0;
}
img {
    vertical-align: middle;
}
>>>>>>> 193c1a8766cecd9bfa7dde989593c4a5e7eed6a8

.contenido-centrado{
    display: flex;
   justify-content: center;
   align-items: center;
}
.contenido-centrado-imgs{
    display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

<<<<<<< HEAD
=======
SPAN.markProductOutOfStock {
    font-size: 12px;
    color: #c76170;
    font-weight: bold;
}
.hidden {
    display: none !important;
    visibility: hidden !important;
}

.precioProducto {
    color: #0062cc;
}

.input-group-qty:before{
    content: " ";
    display: table;
}

.input-group-qty .input-cart-qty {
    background-color: #FFF;
    text-align: center;
    width: calc(100% - 25px);
    float: left;
    padding: 0;
}
.form-control {
    border-radius: 5px;
}
.form-control {
    width: 100%;
    margin: 0 0;
    height: 35px;
    padding: 6px 12px;
    font-size: 15px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

>>>>>>> 193c1a8766cecd9bfa7dde989593c4a5e7eed6a8
.contentImageDescription{
    padding-left: 10px;
    font-size: 15px;
}

<<<<<<< HEAD
=======
input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.input-group-qty{
    width: 80%;
}

.input-group-qty .qty-btns {
    width: 25px;
    float: left;
}

.input-group-qty .qty-btns .btn {
    height: 21px;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}
.input-group-qty .qty-btns .fa {
    color: #91C612;
    font-size: 18px;
}

.input-group-qty:after {
    clear: both;
}
.input-group-qty:after {
    content: " ";
    display: table;
}

.shoppingProducts .quitarProducto {
    color: #b5b5b5;
    font-size: 18px;
}

.shoppingProducts .quitarProducto:hover {
    color: #0071c9;
    font-size: 30px;
}
>>>>>>> 193c1a8766cecd9bfa7dde989593c4a5e7eed6a8

.carousel-icon{
    font-size: 45px !important;
    color: #000;
}

.padding-col {
    border-bottom: 1px solid #CDCDCD;
}

.modal-col {
    font-size: 14px;
}
.modal-container {
    margin: 0;
    padding: 0;
}

.modal-detail-display {
    display: flex !important;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

<<<<<<< HEAD
@media (min-width: 768px){
=======
@media (min-width: 768px)
>>>>>>> 193c1a8766cecd9bfa7dde989593c4a5e7eed6a8
.modal-detail-display {
    height: 80px;
}
.modal-detail-display .theme-icon {
    padding-left: 4px;
}

.modal-detail-display .theme-icon .container-icon {
    height: 42px;
    width: 42px;
    background-color: #fff;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
}
<<<<<<< HEAD
}
@media (min-width: 768px){
=======

@media (min-width: 768px)
>>>>>>> 193c1a8766cecd9bfa7dde989593c4a5e7eed6a8
.modal-detail-display .theme-icon .container-icon {
    background-color: #eee;
    height: 42px;
    width: 42px;
}
<<<<<<< HEAD
}
@media (min-width: 768px){
=======

@media (min-width: 768px)
>>>>>>> 193c1a8766cecd9bfa7dde989593c4a5e7eed6a8
.modal-detail-display .theme-icon .container-icon i {
    font-size: 22px;
}
.modal-detail-display .theme-icon .container-icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #424143;
    font-size: 22px;
}

<<<<<<< HEAD

=======
>>>>>>> 193c1a8766cecd9bfa7dde989593c4a5e7eed6a8
.modal-detail-display .theme-text {
    text-align: left;
    width: 75%;
}

.modal-detail-display .theme-text .title {
    font-weight: bold;
}

.modal-detail-display .access-icon {
    padding-right: 10px;
}

.modal-detail-display .theme-icon .container-icon {
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    background-color: #eee;
<<<<<<< HEAD
}
=======
>>>>>>> 193c1a8766cecd9bfa7dde989593c4a5e7eed6a8
}